[submodule "arborist"]
	path = arborist
	url = https://github.com/donald-pinckney/arborist
[submodule "npm"]
	path = npm
	url = https://github.com/donald-pinckney/cli/
[submodule "rosette"]
	path = rosette
	url = https://github.com/emina/rosette
[submodule "z3"]
	path = z3
	url = https://github.com/Z3Prover/z3
	ignore = untracked
[submodule "artifact/pacsolve-blinded"]
	path = artifact/pacsolve
	url = https://github.com/cassanof/pacsolve-blinded
